<div class="container feedContainer" fxLayout="row" fxLayout.xs="column" fxFlex="100%" fxLayoutGap.xs="0" borderedDiv>

  <div class="item item-4 feedMain" fxFlexOffset.xs="0">

    <div class="searchBar">
      <mat-form-field class="searchBarField">
        <mat-label>Search...</mat-label>
        <input [(ngModel)]="searchQuery" matInput placeholder="Covid vaccine, or covid USA, or whatever...">
      </mat-form-field>
      <button mat-button>
        <mat-icon (click)="fireSearch()">search</mat-icon>
      </button>
    </div>
    <div style="text-align: center;">{{searchStatus}}</div>
    <div class="searchOptions">
      <mat-form-field class="searchOptionItem">
        <mat-label>Country</mat-label>
        <mat-select [(ngModel)]="searchOptCountry">
          <mat-option>None</mat-option>
          <mat-option value="USA">United States</mat-option>
          <mat-option value="India">India</mat-option>
          <mat-option value="Italy">Italy</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="searchOptionItem">
        <mat-label>POI</mat-label>
        <mat-select [(ngModel)]="searchOptPoi">
          <mat-option>None</mat-option>
          <!--<mat-option *ngFor="let tweet of tweetResults;"></mat-option>-->
          <mat-option *ngFor="let poiOption of poiOptions" [value]="poiOption.poi_handle" >{{ poiOption.poi_name }}</mat-option>
          <!--<mat-option value="option1">Narendra Modi</mat-option>
          <mat-option value="option2">Arvind Kejriwal</mat-option>
          <mat-option value="option3">Indian Health Ministry</mat-option>
          <mat-option value="option3">Donald Trump</mat-option>
          <mat-option value="option3">Andrew Cuomo</mat-option>
          <mat-option value="option3">CDC</mat-option>-->
        </mat-select>
      </mat-form-field>

      <mat-form-field class="searchOptionItem">
        <mat-label>Topic</mat-label>
        <mat-select [(ngModel)]="searchOptTopic">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let option of topicOptions; let index = index" [value]="index" >{{ option }}</mat-option>
          <!--<mat-option value="option1">Covid</mat-option>
          <mat-option value="option2">CDC</mat-option>
          <mat-option value="option3">Masks</mat-option>
          <mat-option value="option3">Trump</mat-option>
          <mat-option value="option3">Vaccine</mat-option>
          <mat-option value="option3">lockdown</mat-option>-->
        </mat-select>
      </mat-form-field>

      <mat-form-field class="searchOptionItem">
        <mat-label>Language</mat-label>
        <mat-select [(ngModel)]="searchOptLang">
          <mat-option>None</mat-option>
          <mat-option value="en">English</mat-option>
          <mat-option value="hi">Hindi</mat-option>
          <mat-option value="it">Italian</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="searchResults" fxLayout="row">
      <div class="searchResultsColumn">
        <div class="searchResultColumnHeading">
          Related News
        </div>

        <div class="searchResultsBody">
          <div class="searchResultCard" *ngFor="let news of newsResults; let index = index">
            <div class="searchResultCardHeader">
              <b>{{news['title']}}</b>
            </div>
            <div class="searchResultCardBody">
              {{news['description']}}
            </div>
            <div class="searchResultCardOtherDetails">
              Read more on - {{news['source']['name']}} | <u><a href="{{news['url']}}">Link</a></u> <br>
              
            </div>  
          </div>
        </div>
      </div>
      <div class="searchResultsColumn">
        <div class="searchResultColumnHeading">
          Related Tweets
          <mat-slide-toggle bind-checked="sortByInfScore" (change)="toggleSort()">
            Sort by influence score
          </mat-slide-toggle>
        </div>
        
        <div *ngIf="zeroSearchResults()">No search results matching query</div>
        <div class="searchResultsBody">
          
        <div class="searchResultCard" *ngFor="let tweet of returnedTweets; let index = index">
          <div class="searchResultCardHeader">
            <b>{{tweet['user.screen_name'][0]}}</b>
          </div>
          <div class="searchResultCardBody">
            {{tweet['full_text'][0]}}
          </div>
          <div class="searchResultCardOtherDetails">
            Sentiment: {{tweet['tweet_sentiment'][0]}} <br>
            BM25 Score- {{tweet['score']}} | Influence Score: {{tweet['influence_score']}} 
          </div>
        </div>
      </div>
      </div>
      <div class="searchResultsColumn">
        <div class="searchResultColumnHeading">
          Related analytics
        </div>

        <div class="searchResultsBody">

          <div style="width: 500px; margin: 0 auto; padding: 0px;" *ngIf = "generalSentimentData != undefined && generalSentimentData != null">
            <canvas baseChart [datasets]="generalSentimentData" [labels]="generalSentimentLabels"
              legend="true" chartType="bar">
            </canvas>
          </div>

          <div style="display: block; width: 500px; margin: 0 auto;" *ngIf="pieChartCountryTweetData != undefined && pieChartCountryTweetData != null">
            <canvas baseChart [data]="pieChartCountryTweetData" [labels]="pieChartCountryTweetLabels" chartType="pie"
                legend="true">
            </canvas>
          </div>

          <div style="width: 500px; margin: 0 auto; padding: 0px;" *ngIf = "tweetsByLangData != undefined && tweetsByLangData != null">
            <canvas baseChart [datasets]="tweetsByLangData" [labels]="tweetsByLangLabel"
              legend="true" chartType="bar">
            </canvas>
          </div>

          <div style="width: 500px; margin: 0 auto; padding: 0px;" *ngIf = "barChartPoiSentimentData != undefined && barChartPoiSentimentData != null">
            <canvas baseChart [datasets]="barChartPoiSentimentData" [labels]="barChartPoiSentimentLabels"
              legend="true" chartType="bar">
            </canvas>
          </div>

          <div style="width: 500px; margin: 0 auto; padding: 0px;" *ngIf = "tweetsByTopicData != undefined && tweetsByTopicData != null">
            <canvas baseChart [datasets]="tweetsByTopicData" [labels]="tweetsByTopicLabels"
              legend="true" chartType="bar">
            </canvas>
          </div>


        </div>


      </div>
    </div>
  </div>