<div style="padding: 10px; height: 100%;">

  <mat-tab-group style="height: 100%;">
    <mat-tab label="Search">
      <app-feed></app-feed>
    </mat-tab>

    <mat-tab label="Analytics">
      <!--<div style="display: block; width: 600px; height: 300px; margin: 0 auto;">
        <canvas baseChart width="2" height="1"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>-->

      <div style="display: block; width: 500px; margin: 0 auto;">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
          [plugins]="pieChartPlugins" [legend]="pieChartLegend">
        </canvas>
      </div>

      <div style="width: 500px; margin: 0 auto; padding: 0px;">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [plugins]="barChartPlugins"
          [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </div>

      <div style="width: 500px; margin: 0 auto; padding: 0px; ">
        <canvas baseChart [datasets]="barChartData2" [labels]="barChartLabels2" [plugins]="barChartPlugins"
          [legend]="barChartLegend" [chartType]="barChartType">
      </canvas>
      </div>
      <div style="margin: 0 auto;">
        <!---<fusioncharts
          width="700"
          height="400"
          type="Column2d"
          [dataSource]="dateSource">
        </fusioncharts>--->

        <fusioncharts
          [type]="type"
          [width]="width"
          [height]="height"
          [dataSource]="dataSourceUsa">
        </fusioncharts>

        <fusioncharts
          [type]="type"
          [width]="width"
          [height]="height"
          [dataSource]="dataSourceIn">
        </fusioncharts>
        
        <fusioncharts
          [type]="type"
          [width]="width"
          [height]="height"
          [dataSource]="dataSourceIt">
        </fusioncharts>
      </div>

    </mat-tab>
  </mat-tab-group>

</div>